[submodule ".vim/bundle/delmitmate"]
	path = .vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/numbers"]
	path = .vim/bundle/numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
