snippet kd
	if (IS_DEV) {
		echo Kohana::debug(${1});
	}
snippet kdd
	if (IS_DEV) {
		echo Kohana::debug(${1});
		die;
	}
snippet sc
	<?php

	namespace ${1:`substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\\\', 'g')`};

	class ${2:`Filename('', 'myClass')`} {
		${3}
	}
snippet test
	`expand('%:h')`
